VUE_APP_FIREBASE_APP_TOKEN="XXX"

VUE_APP_FIREBASE_AUTH_DOMAIN="XXX",

VUE_APP_FIREBASE_PROJECT_ID="XXX",

VUE_APP_FIREBASE_STORAGE_BUCKET="XXX",

VUE_APP_FIREBASE_MESSAGING_SENDER_ID="XXX",

VUE_APP_FIREBASE_APP_ID="XXX",
